<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hotdeals>
            <general>
                <enabled>0</enabled>
                <manufacturer>manufacturer</manufacturer>
                <cron>55 3 * * *</cron>
            </general>
        </hotdeals>
    </default>
</config>
